body{
    background-image: url("imagenes/Fondo\ Galaxia.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
    color: gold;
    font-size: 60px;
    margin-top: 30px;
}

#buscador{
    width: 350px;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    outline: none;
    margin-bottom: 30px;
}

.planeta{
    display: flex;
    align-items: center;
    gap: 40px;

    width: 80%;
    margin: 35px auto;
    padding: 25px;

    background: rgba(0,0,0,.65);
    border-radius: 20px;

    transition: .3s;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.planeta:hover{
    transform: scale(1.02);
    box-shadow: 0 0 30px rgba(0,255,255,.35);
}

.imagen{
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid rgba(255,255,255,.15);
}

.contenido{
    flex: 1;
    text-align: left;
}

.contenido h2{
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 15px;
    color: white;
}

.contenido p{
    font-size: 17px;
    line-height: 1.6;
    text-align: justify;
}


a{
    color: cyan;
    text-decoration: none;
    font-size: 18px;
    transition: .3s;
}

a:hover{
    color: gold;
}
